* {
    font-family: Tahoma, sans-serif;
    color: white
}

h1, h2, h3{
    font-family: Georgia, serif;
    font-weight: bold;
    color: #091;
}

strong {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color:darkred
}

body{
    background-color:darkred
}
